{% extends 'base.html.twig' %}

{% block title %}Create post{% endblock %}

{% block body %}
    
    <h1>Create New Post</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}

        <button type="submit" formnovalidate>Save</button>
        <a href="{{ path('app_post_index') }}">
            <button type="button">Cancel</button>
        </a>
    {{ form_end(form) }}
    
{% endblock %}
